@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --mais-color: #02772b;
    --black: #13131a;
    --bg: #010103;
    --border: 0.2rem solid rgba(255,255,255,0.3);   
    font-size:9px;
}
*{
    margin: 0px;
    padding: 0px;  
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}
body {
    background-color: white;
}
section{
    padding: 3erm 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #000a04ea;
    border-bottom: var(--border);
}
.header {
    position:fixed ;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    min-width: 300px;
    max-width: 1470px;
    margin: auto;
}
.header img {
    width: 100%;
}
header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
/**#burguer {
    color: white;
    display: block;
    text-align: center;
}**/
.navba a {
    margin: 0 1.8rem;
    font-size: 1.5rem;
    color: white;
}
.navba a:hover {
    color: var(--mais-color);
    border-bottom: 0.1rem solid var(--mais-color);
    padding-bottom: 0.5rem;
    font-size: 1.8rem;
}
.icons img {
    margin: 0.6rem;
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.icons img:hover {
    width: 32px;
    height: 32px;
}
.home-container {
    background: url('../assets/images/banner.jpg');
    height: 99vh;
    background-position: center;
    padding-top: 10px;
}
.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.content {
    max-width: 50rem;
    padding-top: 40rem;
}
.content h3 {
    text-align: initial;
    color: white;
    font-size: 4rem;
    padding-bottom: 1rem;
    height: auto;
}
.content p {
    color: white;
    text-align: justify;
    font-size: 2.5rem;
    font-weight: 60;
    line-height: 1.5;
    padding-bottom: 2rem;
}
.title {
    font-size: 3rem;
    color: rgb(85, 190, 76);
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
}
.title span{
    color: white;
    text-transform: uppercase;
}
.about {
    padding: 12rem;
    width:70vw;
    height: 60vh;
}
.about .row {
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem;
}
.about .row .content {
    padding: 2rem;
}
.about .row .content h3 {
    font-size: 2rem;
    color: white;
}
.about .row .content p {
    font-size: 1.5rem;
    color: white;
    padding: 1rem 0;
    line-height: 1.8;
}
.live {
    padding: 12rem;
}
.box-live {
    display: flex;
    align-items: center;
    justify-content: center;
}
.word {
    padding: 12rem;
}
.word .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.word .box-container .box {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    width:70vw;
    height: 60vh;
    flex-direction:column;
    
}
.word .box-container .box h3{
    font-size: 2rem;
    color: white;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
.word .box-container .box p{
    font-size: 1.5rem;
    color: white;
    line-height: 1.8;
    text-align:justify;
    width: 50rem;
}
.address {
    display: flex;
    align-items: center center;
    flex-direction:column;
    padding: 12rem;
}
.box-address {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.box-address .iframe {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    padding-right: 1.5rem;
}
.box-address .lista {
    color: white;
    font-size: 2rem;
}
.box-address .lista h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}
.box-address .lista p {
    padding-bottom: 1.5rem;
}
.footer{
    text-align: center;
}
.footer .share{
    padding: 1rem 0;
}
.footer .share img{
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}
.footer .share img:hover {
    background-color: var(--mais-color);
}