@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 
:root {
    --mais-color: #02772b;
    --black: #13131a;
    --bg: #010103;
}
*{
    margin: 0px;
    padding: 0px;  
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.1s linear;
    font-family: "Roboto", sans-serif;
    color: white;
}

.page {
    background-color: black; 
    display: flex;
    flex-direction: column;
}
.header {
    background-color: #010103de;
    padding-bottom: 1rem;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%;
    min-height: 80px;
}
.header-item {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
    text-align: right;
}
.header-item a{
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1rem;
    color: white;
    box-sizing: border-box;
}
.header-item a:hover {
    color: var(--mais-color);
    padding-bottom: 0rem;
    font-size: 1.05rem;
    box-sizing: border-box;
}
.content {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}

.content-item {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.content-title {
    margin: 0 auto;
    padding-bottom: 10px;
}

.about {
    display: flex;
    flex-direction: column;
}

.content-title h2{
    flex: 1;
    min-width: 100%;
    margin: 0 auto;
}

.content-info {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: space-around;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-text {
    flex: 1;
    text-align: justify;
}

.word-image {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.box-live {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    min-width: 100%;
    gap: 20px;
}

@media (max-width: 900px) {
    .header {
        flex-direction: column;
    }

    .content-info {
        flex-direction: column;
    }
}
@media screen and (max-width: 768px){
    .page{
        width: 100%;
        flex-direction: column;
    }
}