@charset "UTF -8";
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Inter:wght@100..900&display=swap');

:root {
    --cor0: #8ec596;
    --cor1: #02772b;
    --cor2: #023619;
    --cor3: #000000;
}
*{
    margin: 0px;
    padding: 0px;  
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


body {
    background-image: linear-gradient(var(--cor3) 10%,var(--cor1),black);
}
.conteiner{
    max-width: 1080px;  
    margin:auto ;
    display: flex;  
    align-items: center;
    justify-content: center;
}
header{
    background-color: black;
    width: 100%;
    padding: 10px;
}
.logo,.sociais{
    width: 25%;
}
.logo img{
    width: 200px;
    cursor: pointer;
}
.menu {
    width: 100%;
    text-align: center;
}
.menu nav a{
    color: white;
    text-decoration: none;
    padding-right: 50px;
    font-size: 12px;
    position: relative;
}
.menu nav a::after{
    content:" ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(#00bb38d5, #012b0df6);
    position: absolute;
    top: 20px;
    left: 0;
    transition: 0.4s;
}
.menu nav a:hover::after{
    width: 30px;
} 
.sociais a img{
    cursor:pointer;
    width: 35px;
}
main {
    background-color:var(--cor0); 
    min-width: 580px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main img{
    width: 100%;
    border: auto;
}
div.video {
    background-color:var(--cor0);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
footer {
    background-color:var(--cor2) ;
    color:white;
    font-size: 8px;
    text-align: center;
    background-color: #000000;
    height: 100px;
    width: auto;
}