@charset "UTF -8";
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Inter:wght@100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;  
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body {
    background-color: #94df8d59;
}
.conteiner{
    max-width: 1080px;  
    margin:0 auto ;
    display: flex;  
    align-items: center;
    justify-content: center;
}
header{
    background-color: black;
    width: 100%;
    padding: 10px;
}
.logo,.sociais{
    width: 25%;
}
.logo img{
    width: 200px;
    cursor: pointer;
}
.menu {
    width: 50%;
}
.menu nav a{
    color: white;
    text-decoration: none;
    padding-right: 50px;
    font-size: 12px;
    position: relative;
}
.menu nav a::after{
    content:" ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(#00bb38d5, #012b0df6);
    position: absolute;
    top: 20px;
    left: 0;
    transition: 0.4s;
}
.menu nav a:hover::after{
    width: 30px;
} 
.sociais a img{
    cursor:pointer;
    width: 35px;
}
.banner img{
    max-width: 80vw;
    max-height: 80vw;
    
}